<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-12">
                <form [formGroup]="modificarForm" (ngSubmit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label class="form-label">Nombre</label>
                            <input type="text" formControlName="nombre">
                            <div *ngIf="modificarForm.get('nombre')?.invalid && modificarForm.get('nombre')?.touched">
                                Proporcione un Nombre válido.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="tipo" class="form-label">Tipo</label>
                            <select formControlName="tipo">
                                <option value="">Elija...</option>
                                <option>Agua</option>
                                <option>Crema</option>
                            </select>
                            <div *ngIf="modificarForm.get('tipo')?.invalid && modificarForm.get('tipo')?.touched">
                                Seleccione un tipo.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" formControlName="precio">
                            <div *ngIf="modificarForm.get('precio')?.invalid && modificarForm.get('precio')?.touched">
                                Proporcione un Precio válido. No negativo y con 2 decimales.
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <label for="peso" class="form-label">Peso</label>
                            <input type="number" formControlName="peso">
                            <div *ngIf="modificarForm.get('peso')?.invalid && modificarForm.get('peso')?.touched">
                                Proporcione un peso válido.
                            </div>
                        </div>
                    </div>
                    <div id="messenger"><h2>{{prompt}}</h2></div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Modificar</button>
                </form>
            </div>
        </div>
    </main>
</div>

