<div class="fullscreen">
    <div class="container py-4">
      <header class="header d-flex justify-content-between align-items-center">
        <span class="titulo">ALTA REPARTIDOR</span>
        <button class="btn btn-primary ms-auto" (click)="goHome()">Home</button>
    </header>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="row align-items-stretch">
                <div class="col-md-8">
                  <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <app-alta-repartidor-form></app-alta-repartidor-form>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="h-100 p-5 text-white bg-dark border rounded-3">
                    <app-alta-repartidor-paises></app-alta-repartidor-paises>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
